<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameover_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{474,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,69}}</string>
                <key>sourceSize</key>
                <string>{474,69}</string>
            </dict>
            <key>in_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,107},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
            <key>ready_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{477,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,32}}</string>
                <key>sourceSize</key>
                <string>{477,32}</string>
            </dict>
            <key>share_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,107},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>text_bestscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,107},{178,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,33}}</string>
                <key>sourceSize</key>
                <string>{178,33}</string>
            </dict>
            <key>text_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,107},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>text_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{68,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,35}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lang.png</string>
            <key>size</key>
            <string>{481,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2bc8f2ac6871a741569cfa51421ba25:4305154524e30a6f678205e2d4a5411d:339c01e016041ea1e04837a885fcebf5$</string>
            <key>textureFileName</key>
            <string>lang.png</string>
        </dict>
    </dict>
</plist>
