<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameover_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,67}}</string>
                <key>sourceSize</key>
                <string>{479,67}</string>
            </dict>
            <key>in_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,111},{54,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,19}}</string>
                <key>sourceSize</key>
                <string>{54,19}</string>
            </dict>
            <key>ready_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{460,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,38}}</string>
                <key>sourceSize</key>
                <string>{460,38}</string>
            </dict>
            <key>share_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{125,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,26}}</string>
                <key>sourceSize</key>
                <string>{125,26}</string>
            </dict>
            <key>text_bestscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,111},{134,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,28}}</string>
                <key>sourceSize</key>
                <string>{134,28}</string>
            </dict>
            <key>text_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{166,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,27}}</string>
                <key>sourceSize</key>
                <string>{166,27}</string>
            </dict>
            <key>text_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,111},{84,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,28}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lang.png</string>
            <key>size</key>
            <string>{511,141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2902a454fb2d6960b038eb24313236e2:c7baa631758166ba1a44ce1ef03babea:339c01e016041ea1e04837a885fcebf5$</string>
            <key>textureFileName</key>
            <string>lang.png</string>
        </dict>
    </dict>
</plist>
