<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,456},{112,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,54}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>1cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,476},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,34}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>1column.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,425},{27,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,331}}</string>
                <key>sourceSize</key>
                <string>{27,331}</string>
            </dict>
            <key>1land.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,502},{8,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,48}}</string>
                <key>sourceSize</key>
                <string>{8,48}</string>
            </dict>
            <key>1mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{697,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{697,113}}</string>
                <key>sourceSize</key>
                <string>{697,115}</string>
            </dict>
            <key>1sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,413},{8,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,575}}</string>
                <key>sourceSize</key>
                <string>{8,575}</string>
            </dict>
            <key>1tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,162},{36,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,90}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>1water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,428},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>1water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,373},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>1water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,425},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>2cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{114,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,54}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>2cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,256},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>2column.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{27,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,328}}</string>
                <key>sourceSize</key>
                <string>{27,328}</string>
            </dict>
            <key>2land.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,502},{8,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,48}}</string>
                <key>sourceSize</key>
                <string>{8,48}</string>
            </dict>
            <key>2mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{697,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,137}}</string>
                <key>sourceSize</key>
                <string>{697,137}</string>
            </dict>
            <key>2sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,401},{8,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,575}}</string>
                <key>sourceSize</key>
                <string>{8,575}</string>
            </dict>
            <key>2tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,389},{35,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,90}}</string>
                <key>sourceSize</key>
                <string>{35,90}</string>
            </dict>
            <key>2water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,428},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>2water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,332},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>2water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,425},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>3cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,456},{112,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,54}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>3cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,476},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,34}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>3column.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,0},{27,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,331}}</string>
                <key>sourceSize</key>
                <string>{27,331}</string>
            </dict>
            <key>3land.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,502},{8,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,48}}</string>
                <key>sourceSize</key>
                <string>{8,48}</string>
            </dict>
            <key>3mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{697,127}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{697,127}}</string>
                <key>sourceSize</key>
                <string>{697,137}</string>
            </dict>
            <key>3sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,389},{8,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,575}}</string>
                <key>sourceSize</key>
                <string>{8,575}</string>
            </dict>
            <key>3tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,68},{36,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,90}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>3water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,0},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>3water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,335},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>3water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,425},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,452},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,462},{9,12}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{9,12}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,446},{9,12}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{9,12}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,425},{11,10}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{11,10}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,502},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,502},{13,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,439},{11,8}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{11,8}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,430},{9,12}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,414},{9,12}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>kiem.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,426},{6,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,22}}</string>
                <key>sourceSize</key>
                <string>{6,22}</string>
            </dict>
            <key>mat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,485},{6,4}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,4}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>mat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,502},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>mat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,477},{6,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{6,4}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>mat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,477},{4,6}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>mill_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,403},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{33,45}</string>
            </dict>
            <key>mill_cap.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,414},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>mohoi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,114},{3,5}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{3,5}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>mohoi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,81},{3,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{3,7}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>mohoi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,68},{3,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{3,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>mohoi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,451},{1,1}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>spring_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,489},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>spring_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,471},{18,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,2}}</string>
                <key>sourceSize</key>
                <string>{18,2}</string>
            </dict>
            <key>spring_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,92},{18,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,1}}</string>
                <key>sourceSize</key>
                <string>{18,1}</string>
            </dict>
            <key>tay5.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,489},{5,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{5,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>than1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,471},{24,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>than2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,389},{24,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>than3.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,452},{25,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Object.png</string>
            <key>size</key>
            <string>{806,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ba5026a29b4333fa0a3471fbdbf05b8:5b3c5bea7c1cfa38047fb7898936783e:477997573941e08c209faf49e47ca2d7$</string>
            <key>textureFileName</key>
            <string>Object.png</string>
        </dict>
    </dict>
</plist>
