<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameover_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{944,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{944,133}}</string>
                <key>sourceSize</key>
                <string>{944,133}</string>
            </dict>
            <key>in_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,198},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,44}}</string>
                <key>sourceSize</key>
                <string>{86,44}</string>
            </dict>
            <key>ready_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{950,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,59}}</string>
                <key>sourceSize</key>
                <string>{950,59}</string>
            </dict>
            <key>share_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,198},{176,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>text_bestscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,198},{352,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,62}}</string>
                <key>sourceSize</key>
                <string>{352,62}</string>
            </dict>
            <key>text_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>text_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,198},{132,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,65}}</string>
                <key>sourceSize</key>
                <string>{132,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lang.png</string>
            <key>size</key>
            <string>{954,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2bc8f2ac6871a741569cfa51421ba25:4305154524e30a6f678205e2d4a5411d:339c01e016041ea1e04837a885fcebf5$</string>
            <key>textureFileName</key>
            <string>lang.png</string>
        </dict>
    </dict>
</plist>
