<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameover_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{239,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,36}}</string>
                <key>sourceSize</key>
                <string>{239,36}</string>
            </dict>
            <key>in_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,60},{25,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,14}}</string>
                <key>sourceSize</key>
                <string>{25,14}</string>
            </dict>
            <key>ready_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,18}}</string>
                <key>sourceSize</key>
                <string>{241,18}</string>
            </dict>
            <key>share_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,60},{47,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,17}}</string>
                <key>sourceSize</key>
                <string>{47,17}</string>
            </dict>
            <key>text_bestscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,60},{91,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,19}}</string>
                <key>sourceSize</key>
                <string>{91,19}</string>
            </dict>
            <key>text_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>text_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,60},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lang.png</string>
            <key>size</key>
            <string>{247,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2bc8f2ac6871a741569cfa51421ba25:4305154524e30a6f678205e2d4a5411d:339c01e016041ea1e04837a885fcebf5$</string>
            <key>textureFileName</key>
            <string>lang.png</string>
        </dict>
    </dict>
</plist>
