<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,227},{223,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{223,107}}</string>
                <key>sourceSize</key>
                <string>{227,111}</string>
            </dict>
            <key>1cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,986},{132,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,67}}</string>
                <key>sourceSize</key>
                <string>{136,71}</string>
            </dict>
            <key>1column.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1457},{55,662}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,662}}</string>
                <key>sourceSize</key>
                <string>{55,662}</string>
            </dict>
            <key>1land.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,0},{15,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,97}}</string>
                <key>sourceSize</key>
                <string>{15,97}</string>
            </dict>
            <key>1mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{1394,225}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1394,225}}</string>
                <key>sourceSize</key>
                <string>{1394,231}</string>
            </dict>
            <key>1sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,0},{17,1150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,1150}}</string>
                <key>sourceSize</key>
                <string>{17,1150}</string>
            </dict>
            <key>1tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1510},{69,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,179}}</string>
                <key>sourceSize</key>
                <string>{71,179}</string>
            </dict>
            <key>1water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,366},{128,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,88}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>1water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,718},{128,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,75}}</string>
                <key>sourceSize</key>
                <string>{128,75}</string>
            </dict>
            <key>1water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1200},{128,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,145}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>2cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1398},{227,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,108}}</string>
                <key>sourceSize</key>
                <string>{227,108}</string>
            </dict>
            <key>2cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,762},{136,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,68}}</string>
                <key>sourceSize</key>
                <string>{136,68}</string>
            </dict>
            <key>2column.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1516},{55,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,656}}</string>
                <key>sourceSize</key>
                <string>{55,656}</string>
            </dict>
            <key>2land.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1154},{16,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,97}}</string>
                <key>sourceSize</key>
                <string>{16,97}</string>
            </dict>
            <key>2mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1394,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1394,274}}</string>
                <key>sourceSize</key>
                <string>{1394,274}</string>
            </dict>
            <key>2sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,121},{15,1150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,1150}}</string>
                <key>sourceSize</key>
                <string>{15,1150}</string>
            </dict>
            <key>2tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,183},{70,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,179}}</string>
                <key>sourceSize</key>
                <string>{70,179}</string>
            </dict>
            <key>2water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,498},{128,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,87}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>2water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,630},{128,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,75}}</string>
                <key>sourceSize</key>
                <string>{128,75}</string>
            </dict>
            <key>2water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1051},{128,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,145}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>3cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,0},{223,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{223,107}}</string>
                <key>sourceSize</key>
                <string>{227,111}</string>
            </dict>
            <key>3cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,850},{132,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,67}}</string>
                <key>sourceSize</key>
                <string>{136,71}</string>
            </dict>
            <key>3column.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1398},{55,662}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,662}}</string>
                <key>sourceSize</key>
                <string>{55,662}</string>
            </dict>
            <key>3land.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1154},{15,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,97}}</string>
                <key>sourceSize</key>
                <string>{15,97}</string>
            </dict>
            <key>3mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,0},{1394,252}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{1394,252}}</string>
                <key>sourceSize</key>
                <string>{1394,274}</string>
            </dict>
            <key>3sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,0},{15,1150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,1150}}</string>
                <key>sourceSize</key>
                <string>{15,1150}</string>
            </dict>
            <key>3tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{71,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,179}}</string>
                <key>sourceSize</key>
                <string>{71,179}</string>
            </dict>
            <key>3water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,454},{128,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,87}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>3water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,586},{128,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,75}}</string>
                <key>sourceSize</key>
                <string>{128,75}</string>
            </dict>
            <key>3water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,902},{128,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,145}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1362},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,521},{19,20}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{19,20}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1546},{19,24}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{19,24}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,498},{19,20}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{19,20}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1342},{25,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{25,16}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,48},{27,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{27,12}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1255},{21,14}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{21,14}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1368},{19,22}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1342},{19,22}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>kiem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,0},{12,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,44}}</string>
                <key>sourceSize</key>
                <string>{12,44}</string>
            </dict>
            <key>mat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,110},{11,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>mat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,99},{11,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>mat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1571},{9,5}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{9,5}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>mat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1575},{3,9}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{3,9}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>mill_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1510},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>mill_cap.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1398},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>mohoi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1575},{4,8}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{4,8}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>mohoi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1575},{4,12}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{4,12}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>mohoi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,79},{6,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{6,16}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>mohoi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1575},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>spring_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1508},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>spring_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1575},{35,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,4}}</string>
                <key>sourceSize</key>
                <string>{35,4}</string>
            </dict>
            <key>spring_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1575},{35,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,3}}</string>
                <key>sourceSize</key>
                <string>{35,3}</string>
            </dict>
            <key>tay5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1546},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>than1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,762},{48,63}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{48,63}}</string>
                <key>sourceSize</key>
                <string>{56,65}</string>
            </dict>
            <key>than2.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1275},{48,63}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{48,63}}</string>
                <key>sourceSize</key>
                <string>{56,65}</string>
            </dict>
            <key>than3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1516},{49,63}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{49,63}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Object.png</string>
            <key>size</key>
            <string>{1024,1579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ba5026a29b4333fa0a3471fbdbf05b8:5b3c5bea7c1cfa38047fb7898936783e:477997573941e08c209faf49e47ca2d7$</string>
            <key>textureFileName</key>
            <string>Object.png</string>
        </dict>
    </dict>
</plist>
