<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,3130},{444,210}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{444,210}}</string>
                <key>sourceSize</key>
                <string>{454,222}</string>
            </dict>
            <key>1cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,3051},{261,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{261,132}}</string>
                <key>sourceSize</key>
                <string>{271,142}</string>
            </dict>
            <key>1column.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2904},{109,1324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,1324}}</string>
                <key>sourceSize</key>
                <string>{109,1324}</string>
            </dict>
            <key>1land.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,2501},{30,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,193}}</string>
                <key>sourceSize</key>
                <string>{30,193}</string>
            </dict>
            <key>1mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,0},{2787,449}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{2787,449}}</string>
                <key>sourceSize</key>
                <string>{2787,461}</string>
            </dict>
            <key>1sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,0},{33,2300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,2300}}</string>
                <key>sourceSize</key>
                <string>{33,2300}</string>
            </dict>
            <key>1tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,3485},{138,356}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,356}}</string>
                <key>sourceSize</key>
                <string>{142,358}</string>
            </dict>
            <key>1water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2791},{256,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,175}}</string>
                <key>sourceSize</key>
                <string>{256,175}</string>
            </dict>
            <key>1water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,3673},{256,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,149}}</string>
                <key>sourceSize</key>
                <string>{256,149}</string>
            </dict>
            <key>1water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,3563},{256,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,290}}</string>
                <key>sourceSize</key>
                <string>{256,290}</string>
            </dict>
            <key>2cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3130},{454,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,215}}</string>
                <key>sourceSize</key>
                <string>{454,215}</string>
            </dict>
            <key>2cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,3720},{271,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,136}}</string>
                <key>sourceSize</key>
                <string>{271,136}</string>
            </dict>
            <key>2column.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3017},{109,1312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,1312}}</string>
                <key>sourceSize</key>
                <string>{109,1312}</string>
            </dict>
            <key>2land.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,2304},{31,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,193}}</string>
                <key>sourceSize</key>
                <string>{31,193}</string>
            </dict>
            <key>2mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2787,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2787,548}}</string>
                <key>sourceSize</key>
                <string>{2787,548}</string>
            </dict>
            <key>2sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,0},{30,2300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,2300}}</string>
                <key>sourceSize</key>
                <string>{30,2300}</string>
            </dict>
            <key>2tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,3344},{137,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,358}}</string>
                <key>sourceSize</key>
                <string>{139,358}</string>
            </dict>
            <key>2water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,3485},{256,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,174}}</string>
                <key>sourceSize</key>
                <string>{256,174}</string>
            </dict>
            <key>2water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,3413},{256,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,149}}</string>
                <key>sourceSize</key>
                <string>{256,149}</string>
            </dict>
            <key>2water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,3130},{256,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,290}}</string>
                <key>sourceSize</key>
                <string>{256,290}</string>
            </dict>
            <key>3cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3349},{444,210}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{444,210}}</string>
                <key>sourceSize</key>
                <string>{454,222}</string>
            </dict>
            <key>3cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,3130},{261,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{261,132}}</string>
                <key>sourceSize</key>
                <string>{271,142}</string>
            </dict>
            <key>3column.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2791},{109,1324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,1324}}</string>
                <key>sourceSize</key>
                <string>{109,1324}</string>
            </dict>
            <key>3land.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,3617},{30,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,193}}</string>
                <key>sourceSize</key>
                <string>{30,193}</string>
            </dict>
            <key>3mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{2787,502}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{2787,502}}</string>
                <key>sourceSize</key>
                <string>{2787,548}</string>
            </dict>
            <key>3sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,0},{30,2300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,2300}}</string>
                <key>sourceSize</key>
                <string>{30,2300}</string>
            </dict>
            <key>3tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,3051},{140,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{140,358}}</string>
                <key>sourceSize</key>
                <string>{142,358}</string>
            </dict>
            <key>3water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,3390},{256,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,173}}</string>
                <key>sourceSize</key>
                <string>{256,173}</string>
            </dict>
            <key>3water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,3567},{256,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,149}}</string>
                <key>sourceSize</key>
                <string>{256,149}</string>
            </dict>
            <key>3water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3563},{256,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,290}}</string>
                <key>sourceSize</key>
                <string>{256,290}</string>
            </dict>
            <key>b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,2304},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,2347},{37,39}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{37,39}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,3344},{35,45}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{35,45}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,3629},{37,37}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{37,37}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,2698},{47,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{47,29}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,3826},{51,23}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{51,23}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,3790},{41,27}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{41,27}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,3499},{35,41}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,3745},{35,41}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>kiem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,2304},{23,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,88}}</string>
                <key>sourceSize</key>
                <string>{23,88}</string>
            </dict>
            <key>mat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,3617},{22,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>mat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,3651},{22,14}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>mat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,3383},{16,8}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{16,8}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>mat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,3349},{6,16}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{6,16}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>mill_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,3316},{131,179}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{131,179}}</string>
                <key>sourceSize</key>
                <string>{133,181}</string>
            </dict>
            <key>mill_cap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,3395},{210,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{210,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>mohoi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,3771},{7,14}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{7,14}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>mohoi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,3745},{7,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{7,22}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>mohoi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,3845},{11,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{11,30}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>mohoi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,3390},{1,1}}</string>
                <key>offset</key>
                <string>{-9,17.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>spring_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,3485},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>spring_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,3017},{70,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,8}}</string>
                <key>sourceSize</key>
                <string>{70,8}</string>
            </dict>
            <key>spring_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,3845},{70,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,5}}</string>
                <key>sourceSize</key>
                <string>{70,5}</string>
            </dict>
            <key>tay5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,2388},{17,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{17,39}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>than1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,3673},{93,126}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{93,126}}</string>
                <key>sourceSize</key>
                <string>{111,130}</string>
            </dict>
            <key>than2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,3499},{93,126}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{93,126}}</string>
                <key>sourceSize</key>
                <string>{111,130}</string>
            </dict>
            <key>than3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,3745},{96,124}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{96,124}}</string>
                <key>sourceSize</key>
                <string>{114,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Object.png</string>
            <key>size</key>
            <string>{1612,3856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ba5026a29b4333fa0a3471fbdbf05b8:5b3c5bea7c1cfa38047fb7898936783e:477997573941e08c209faf49e47ca2d7$</string>
            <key>textureFileName</key>
            <string>Object.png</string>
        </dict>
    </dict>
</plist>
