<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ads.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{157,157}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{157,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>btn_brick_shape.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,75},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1798},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{157,157}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>btn_leaderboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1719},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{157,157}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,985},{335,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{335,334}}</string>
                <key>sourceSize</key>
                <string>{337,336}</string>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1639},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{157,157}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>btn_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1582},{335,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{335,334}}</string>
                <key>sourceSize</key>
                <string>{337,336}</string>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1560},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{157,157}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>btn_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1480},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{157,157}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1321},{157,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>logo_nopowerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1321},{284,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,237}}</string>
                <key>sourceSize</key>
                <string>{284,237}</string>
            </dict>
            <key>logo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{885,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{885,512}}</string>
                <key>sourceSize</key>
                <string>{885,514}</string>
            </dict>
            <key>medal_bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1773},{189,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,187}}</string>
                <key>sourceSize</key>
                <string>{189,187}</string>
            </dict>
            <key>medal_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1179},{189,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,188}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>medal_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1582},{189,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,187}}</string>
                <key>sourceSize</key>
                <string>{189,187}</string>
            </dict>
            <key>medal_platinum.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1369},{189,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,187}}</string>
                <key>sourceSize</key>
                <string>{189,187}</string>
            </dict>
            <key>medal_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1369},{189,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,187}}</string>
                <key>sourceSize</key>
                <string>{189,187}</string>
            </dict>
            <key>ready_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,516},{1064,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{1064,175}}</string>
                <key>sourceSize</key>
                <string>{1066,177}</string>
            </dict>
            <key>score_ingame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,985},{194,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,192}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>score_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,163},{42,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>score_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{832,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{832,467}}</string>
                <key>sourceSize</key>
                <string>{832,467}</string>
            </dict>
            <key>share_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{437,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{437,156}}</string>
                <key>sourceSize</key>
                <string>{439,156}</string>
            </dict>
            <key>share_icon_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{87,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,71}}</string>
                <key>sourceSize</key>
                <string>{87,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1014,2021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:096644701c847cd9984c6531683e82b0:e5884def88d80c84ab4693e2622ffe5b:7a581004c18cb7f2fc682a0e14e125c7$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
